<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p4coperez.tagbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" ><activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:label="@string/aboutto" 
            android:name="AboutTo" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="sensorPortait">
          
        </activity>
        <activity
            android:label="@string/config"
            android:name="Configuration" android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="sensorPortait"> 
        </activity>
    </application>

</manifest>
